body {
    text-align: center;
}

#agrupar {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#cabecera {
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
}

#menu {
    background: #CCCCCC;
    padding: 5px 15px;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}

#seccion {
    float: left;
    width: 660px;
    margin: 20px;
}

#columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #CCCCCC;
}

#pie {
    /* Que hace el clear left? */
    clear: left;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

#agrupar #seccion article figure figcaption {
    text-align: center;
}